@font-face {
  font-family: "PPAgrandir";
  src: url("https://cdn.jsdelivr.net/gh/vlrftps/fonts-cdn/PPAgrandir-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPAgrandir";
  src: url("https://cdn.jsdelivr.net/gh/vlrftps/fonts-cdn/PPAgrandir-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPAgrandir";
  src: url("https://cdn.jsdelivr.net/gh/vlrftps/fonts-cdn/PPAgrandir-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
